<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h1>User info</h1>
         <%= form_with model:@user, local: true do |f| %>
          <p>Name</p>
          <%= f.text_field :name %>
          <p>Image</p>
          <%= attachment_image_tag @user, :image, :fill, 60, 60 %>
          <label for="inputImage"></label>
          <%= f.attachment_field :image, placeholder: "image" %>
          <p>introduction</p>
          <%= f.text_area :introduction %>
          <div>
            <%= f.submit 'Update User' %>
          </div>
         <% end %>
      </div>
    </div>
  </div>
</main>